@font-face {
  font-family: 'destinicon';
  src: url('font/destinicon.eot');
  src: url('font/destinicon.eot?#iefix') format('embedded-opentype'),
       url('font/destinicon.woff') format('woff'),
       url('font/destinicon.ttf') format('truetype'),
       url('font/destinicon.svg#destinicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font: normal normal 12px destinicon;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

.icon-autobacon:before { content: '\f000'} /*  */
.icon-compose:before { content: '\f001'} /*  */
.icon-darlow:before { font-size: 18px; content: '\f002'} /*  */
.icon-destination_a:before { content: '\f004'} /*  */
.icon-downvote:before { content: '\f005'} /*  */
.icon-edit:before { content: '\f006'} /*  */
.icon-error:before { content: '\f007'} /*  */
.icon-external_link:before { content: '\f008'} /*  */
.icon-flag:before { content: '\f009'} /*  */
.icon-helljumpers:before { font-size: 24px; content: '\f00a'} /*  */
.icon-hex_logo_a:before { font-size: 32px; content: '\f00b'} /*  */
.icon-hex_logo_b:before { font-size: 32px; content: '\f00c'} /*  */
.icon-hex_logo_c:before { font-size: 32px; content: '\f00d'} /*  */
.icon-hex_logo_d:before { font-size: 32px; content: '\f00e'} /*  */
.icon-info:before { content: '\f00f'} /*  */
.icon-kapowaz_k:before { font-size: 20px; content: '\f010'} /*  */
.icon-link:before { content: '\f011'} /*  */
.icon-markdown_empty:before { font-size: 18px; content: '\f012'} /*  */
.icon-markdown_fill:before { font-size: 18px; content: '\f013'} /*  */
.icon-paginate_left:before { content: '\f014'} /*  */
.icon-paginate_right:before { content: '\f015'} /*  */
.icon-pending:before { content: '\f016'} /*  */
.icon-post_read:before { content: '\f017'} /*  */
.icon-post_unread:before { content: '\f018'} /*  */
.icon-post_unread_fill:before { content: '\f019'} /*  */
.icon-reply:before { content: '\f01a'} /*  */
.icon-required:before { content: '\f01b'} /*  */
.icon-spinner:before { font-size: 32px; content: '\f01c'} /*  */
.icon-triangle_a:before { font-size: 24px; content: '\f01d'} /*  */
.icon-triangle_b:before { font-size: 24px; content: '\f01e'} /*  */
.icon-triangle_ring:before { font-size: 24px; content: '\f01f'} /*  */
.icon-upvote:before { content: '\f020'} /*  */
.icon-valid:before { content: '\f021'} /*  */
.icon-view_parent:before { content: '\f022'} /*  */
.icon-warning:before { content: '\f023'} /*  */


body { font-family: 'Helvetica Neue', helvetica, arial, sans-serif; }

h1 {
  margin-top: 0;
  padding-bottom: 10px;
  font-size: 40px;
  border-bottom: 1px solid #ddd;
}

.icon-examples {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.icon-examples li {
  line-height: 24px;
  position: relative;
}

.icon-examples li span.text {
  position: absolute;
  left: 40px;
}

.icon-list { padding: 50px; }

.icon { margin-right: 5px; }

.next-steps p,
.next-steps h2,
.next-steps h3 {
  margin: .5em 0;
}

code {
  border: 1px solid #ddd;
  background-color: #fafafa;
  border-radius: 3px;
  padding: 0 5px 1px;
}